<h1>Forum</h1>
<p>
    {{ error }}
</p>
<p>
    <h2>Register a new account</h2>
    <br>
    <form action="/register/" method="POST">
        <!--{% csrf_token %}-->
        Username: <input type="text" name="username">
        <br>
        <p>
            Passwords should be 8-64 characters long.
        <br>
        Password: <input type="Password" name="password">
        <br>
        Confirm password: <input type="Password" name="confirm_password">
        </p>
        <input type="submit" value="Register">
    </form>

</p>
<a href="/">Back to index</a>